h1 {
    color: azure;
}
body {
   background-color: #da6404;
   font-family: Verdana;
   text-align: center;
}

form {
   background-color: rgba(91, 186, 199, 0.692);
   max-width: 250px;
   margin: 50px auto;
   padding: 30px 20px;
   box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border: solid black 1px;
}


.form-control {
   text-align: center;
   margin-bottom: 25px;
}

.form-control label {
   display: block;
   margin-bottom: 10px;
}

.form-control input,
.form-control textarea {
   border: 1px solid black;
   border-radius: 2px;
   font-family: inherit;
   padding: 10px;
   display: block;
   width: 95%;
}

button {
   background-color: #755a0dce;
   border: 1px solid #777;
   color: azure;
   border-radius: 2px;
   font-family: inherit;
   font-size: 21px;
   display: block;
   width: 35%;
   margin-top: 50px;
   margin-bottom: 20px;
   margin-left: 90px;
    
}
button:hover{
    filter: opacity(70%);
}
a:hover{
filter: grayscale(60%);
}
